.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:rgb(71, 79, 82);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.row {
  display: flex;

}
.child1 {
  width: 50%;
  text-align: center;
  margin: auto;
}
.child2 {
  width: 50%;
  margin: auto;
  height: 500px;
  width: 350px;
}

.home-image {
  display: block;
  margin-left:auto;
  border: 2px solid white;
  margin-right: auto;
  height: 70vh;
  width: 50%;
}
#home-img {
  background-image: url("images/home_image.png");
}

#navigation {
  background-image: url("images/nav-bar_image2.jpg");
  border-bottom: 2px solid black;
}


